{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    User: {{ user.username }}
{% endblock %}

{% block content %}
    <h2 class="text-primary">Hello {{ user.username }}</h2>

    <div class="row">
         <ul class="nav nav-tabs">
             <li class="active"><a href="{% url 'mainapp_home' %}">Current Jobs</a></li>
             <li><a href="{% url 'mainapp_new_job' %}">New Job</a></li>
             <li><a href="{% url 'mainapp_settings' %}">Settings</a></li>
        </ul>

        <div class="tab-content">
            <div id="jobs" class="tab-pane fade in active">
                <h3>Jobs</h3>
                <p>These are all the current jobs.</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Job date</th>
                            <th>Docs collected</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for job in jobs %}
                        <tr>
                            <td>
                                {{ job.name|escape }}
                            </td>
                            <td>
                                {{ job.status|escape }}
                            </td>
                            <td>
                                {{ job.created|escape }}
                            </td>
                            <td>
                                {{ job.docs_collected|escape }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
