{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    User: {{ user.username }}
{% endblock %}

{% block content %}
    <h2 class="text-primary">Hello {{ user.username }}</h2>

    <div class="row">
         <ul class="nav nav-tabs">
             <li><a href="{% url 'mainapp_home' %}">Current Jobs</a></li>
             <li><a href="{% url 'mainapp_new_job' %}">New Job</a></li>
             <li class="active"><a href="{% url 'mainapp_settings' %}">Settings</a></li>
        </ul>

        <div class="tab-content">
            <div id="settings" class="tab-pane fade in active">
                <h3>Settings</h3>
                <p>This is where you can edit user specific settings.</p>
            </div>
        </div>
    </div>

{% endblock %}
